
@media only screen and (max-width: 1044px) {

    .container {
        width: 94%;
        margin: 40px 3%;
    }

    .income {
        float: left;
        width: 47%;
        margin-right: 6%;
    }

    .expenses {
        float: left;
        width: 47%;
    }
}

@media only screen and (max-width: 844px) {

    body { font-size: 15px; }

    .add { padding: 12px; }

    .reset-container {display: block;}

    .add__type { width: 55px; }
    .add__description { width: 350px;}
    .add__value { width: 90px;}
}

@media only screen and (max-width: 644px) {

    .budget__income,
    .budget__expenses {
        margin: 3%;
        padding-left: 20px;
        border-radius: 2px;
    }
    .bottom { font-size: 90%;}

    .add__type { width: 45px; }
    .add__description { width: 300px;}
    .add__value { width: 80px;}

    .add__description,
    .add__value {
        font-size: 95%;
        padding: 12px 6px;
    }
}

@media only screen and (max-width: 528px) {
    .add { position: relative; }
    .reset-container {
        position: absolute;
        left: 50%;
        transform: translate(-50%,0%);
        bottom: 5px;
    }

    /*setting minimum height to solve the problem of overlapping of component when keyboard is opened in mobile*/
    .top {
        height: 35vh;
        min-height: 266px;
    }

    .budget__value {
        font-size: 40px;
        margin-bottom: 15px;
    }
    .budget__income,
    .budget__expenses {
        margin: 3%;
        padding: 11px 18px;
        border-radius: 2px;
    }

    .add { padding: 6px; }

    .add__btn {
        padding: 2px;
        width: 328px;
        text-align: end;
        margin-top: 5px;
        margin-left: 0;
    }
    
    .add__type,
    .add__description {
        margin-right: 5px;
        margin-top: 5px;
    }
    
    .add__type { width: 45px; }
    .add__description { width: 230px;  }
    .add__value { width: 75px; margin-right: 0; }

    .container { margin: 30px 3%;}
}
